/*Начало основной страницы с работой НН*/

*{
  box-sizing: border-box;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

nav {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

nav:before {
  display: block;
  height: 50px;
  width: 100%;
  background-color: black;
  content: '';
  position: absolute;
  left: 0px;
  z-index: -1;
}

ul{
  margin: 0;
  padding: 0;
  height: 50px;
  list-style: none;
  margin-left: 80px;
  margin-right: 80px;
}

ul li {
  float: left;
  height: 50px;
  width: 33.333%;
  text-align: center;
}

ul li a {
  color: white;
  display: block;
  padding:0 30px;
  line-height: 50px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #e0373d;
}

.rules{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
}

.main_row{
  width: 830px;
  margin-left: auto;
  margin-right: auto;
}

.paint{
  height: 400px;
  width: 400px;
  margin-left: 10px;
  float: left;
  margin-right: 10px;
  background-color: black;
}

.answer{
  float: left;
  height: 400px;
  width: 400px;
  margin-right: 10px;
  border: 2px solid black;

}

.bullets{
  margin-top: 440px;
  height: 50px;
  text-align: center;
}

.bullets button{
  font-size: 18px;
  width: 120px;
  height: 30px;
  margin-right: 3px;
  margin-left: 3px;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
}

.bullets button:hover{
  background-color: #e0373d;
}

/*Страница с информацией и теоретическим обоснованием*/

.perceptron{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h1{
  margin-top: 19px;
  text-align: center;
  font-size: 22px;
}

.perceptron img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.sign{
  color: gray;
  font-size: 15px;
  text-align: center;
}

.pages{
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

ol li a{
  color: black;
}