*{
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-size: 20px;
    font-family: Roboto, Arial, sans-serif;
  }

  header{
    position: sticky; 
    top: 0;
  }
  
  nav {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  
  nav:before {
    display: block;
    height: 50px;
    width: 100%;
    background-color: black;
    content: '';
    position: absolute;
    left: 0px;
    z-index: -1;
  }
  
  ul{
    margin: 0;
    padding: 0;
    height: 50px;
    list-style: none;
    margin-left: 80px;
    margin-right: 80px;
  }
  
  ul li {
    float: left;
    height: 50px;
    width: 33.333%;
    text-align: center;
  }
  
  ul li a {
    color: white;
    display: block;
    padding:0 30px;
    line-height: 50px;
    text-decoration: none;
  }
  
  ul li a:hover {
    background-color: #e0373d;
  }

.perceptron{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  
  h1{
    margin-top: 19px;
    text-align: center;
    font-size: 22px;
  }
  
  .perceptron img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .sign{
    color: gray;
    font-size: 15px;
    text-align: center;
  }
  
  .pages{
    width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
  
  ol li a{
    color: black;
  }

  .func{
    font-weight: bold;
    text-align: center;
    width: 800px;
    margin: 10px;
  }

  .undersign{
    color: gray;
    font-size: 15px;
    margin-top: 10px;
  }
